################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/002. TensesTowerAPI/.vs
/.vs
